/* Barlow - 600 */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
/* Fraunces - 700, 900 */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;600;700;900&display=swap");

:root {
  /* 
    Primary
  */
  --main-red: hsl(7, 99%, 70%);
  --main-yellow: hsl(51, 100%, 49%);
  /* ---> graphic design text */
  --main-cyan: hsl(167, 40%, 24%);
  /* ---> footer */
  --modal-cyan: #90d4c5;
  --modal-cyan-text: #2b7463;
  /* ---> photography text */
  --main-blue: hsl(198, 62%, 26%);
  /*
    Neutral
  */
  --main-blue-dark: hsl(212, 27%, 19%);
  --main-blue-white: hsl(210, 4%, 67%);
  --modal-blue-gray-100: hsl(213, 9%, 39%);
  --modal-blue-gray-70: hsl(232, 10%, 55%);
  --main-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Fraunces", sans-serif;
}

section {
  min-height: 80vh;
}

#introduction {
  background: url(images/desktop/image-header.jpg);
}

#main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  position: relative;
}

#menu {
  width: 100%;
  position: relative;
}

.menu-desktop {
  display: none;
}

.menu-mobile {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.menu-mobile-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 1rem;
}

.menu-mobile-links {
  background: var(--main-white);
}

.menu-mobile-links ul {
  display: none;
  position: relative;
  background-color: var(--main-white);
  left: 10%;
  list-style: none;
  top: 15vh;
  text-align: center;
  padding: 1rem;
  position: absolute;
  width: 80%;
}

.menu-mobile-links.active ul {
  display: block;
}

.menu-mobile-links ul::after {
  content: "";
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  position: absolute;
  right: 0;
  top: -20px;
}

.menu-mobile-links li {
  border-radius: 2rem;
  color: var(--modal-blue-gray-70);
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  transition: all 0.3s ease;
  width: max-content;
  cursor: pointer;
}

.menu-mobile-links li:hover {
  background-color: var(--main-yellow);
  font-family: "Fraunces";
  color: var(--main-blue-dark);
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

/* Introduction */

#introduction {
  background: url(images/mobile/image-header.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#introduction h1 {
  font-size: 2.2rem;
  font-weight: bolder;
  text-align: center;
  color: var(--main-white);
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
}

/* cards */
.card {
  min-height: 100vh;
}

.card-img {
  width: 100%;
  height: 50vh;
  background: rgba(255, 0, 0, 0.178) no-repeat center;
  background-size: cover;
}

.card-text {
  padding: 3rem 1rem;
  background-color: #fffbf8;
  color: var(--modal-blue-gray-70);
  text-align: center;
}

.card-text h2 {
  color: var(--main-blue-dark);
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.card-text p {
  line-height: 1.5rem;
  padding: 1rem 0;
}

.card-text a {
  position: relative;
  text-decoration: none;
  font-family: "Fraunces";
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.25s ease-out;
  color: var(--main-blue-dark);
  z-index: 10;
}

.card-text a::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 12px;
  background-color: var(--main-yellow);
  opacity: 0.3;
  filter: blur(1px);
  border-radius: 2rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20%;
  transition: all 0.25s ease-out;
  z-index: -1;
}

.card-text a:hover {
  opacity: 0.75;
}

.card-text a:hover:before {
  bottom: -50%;
}

.card-1 .card-img {
  background-image: url(images/mobile/image-transform.jpg);
}

.card-2 .card-img {
  background-image: url(images/mobile/image-stand-out.jpg);
}

.card-2 .card-text a::before {
  background-color: var(--main-red);
}

.card-bg-text {
  background: url(images/mobile/image-graphic-design.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  color: var(--main-cyan);
  font-weight: bold;
}

.card-bg-text h2 {
  padding: 1rem;
}

.card-bg-text p {
  padding: 1rem;
  font-size: 0.8rem;
  padding-bottom: 2rem;
  line-height: 1.2rem;
}

.card-bg-text:nth-child(2) {
  background-image: url(images/mobile/image-photography.jpg);
  color: var(--main-blue);
}

/* Testimonials */
#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#testimonials h2 {
  padding: 3rem 0;
  text-transform: uppercase;
  color: var(--main-blue-white);
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  align-items: center;
  text-align: center;
  color: var(--modal-blue-gray-100);
  padding: 1rem;
}

.testimonial > * {
  padding: 0.5rem;
}

.profile-img img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial p {
  line-height: 1.5rem;
}

.client-info h3 {
  color: var(--main-blue-dark);
}

.client-info span {
  color: var(--main-blue-white);
  display: block;
  padding: 0.5rem;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery-img {
  min-height: 30vh;
  background: blue no-repeat center;
  background-size: cover;
  width: 50vw;
}

.gallery-img-1 {
  background-image: url(images/mobile/image-gallery-milkbottles.jpg);
}

.gallery-img-2 {
  background-image: url(images/mobile/image-gallery-orange.jpg);
}

.gallery-img-3 {
  background-image: url(images/mobile/image-gallery-cone.jpg);
}

.gallery-img-4 {
  background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
}

/* footer */
#footer {
  background-color: var(--modal-cyan);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#footer ul {
  list-style: none;
  display: flex;
}

#footer li {
  padding: 1rem;
}
#footer li:hover a {
  opacity: 0.7;
}

#footer a {
  text-decoration: none;
  color: var(--modal-cyan-text);
  font-size: 1.2rem;
}

.footer-logo svg path {
  fill: var(--modal-cyan-text);
}

/* Attribution */
.attribution {
  background-color: var(--modal-cyan);
  padding: 1rem;
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--modal-cyan-text);
}

/* Desktop version */
@media (min-width: 500px) {
}
